.header{
	text-align: center;
	font-size: 4em;
}
.footer{
	background-color: black;
	color: white;
	height: 100%;
	padding: 1%;
}
.color{
	background-color: white;
}
.space{
	margin-top: 10vh;
}
.center{
	text-align: center;
	font-size: 1.5em;
}
.space-optional{
	margin-top: 5vh;
}