.footer{
	background-color: #ddd9df;
	color: black;
	height: 100%;
	padding: 1%;
}
.color{
	background-color: white;
}
.space{
	margin-top: 10vh;
}
.center{
	text-align: center;
	font-size: 1.5rem;
}
.space-optional{
	margin-top: 5vh;
}